{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">{{ button_label|default('Kaydet') }}</h1>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <button class="btn btn-primary">{{ button_label|default('Kaydet') }}</button>
        {{ form_end(form) }}

        <style>

            .btn {
                border-radius: 0.25rem;
                padding: 0.5rem 1rem;
            }

            .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
                color: white;
            }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #004085;
            }
        </style>
    </div>
{% endblock %}