{% extends 'base.html.twig' %}

{% block title %}ContactUs Index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">İletişim Listesi</h1>

        <!-- ContactUs Table -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead style="background-color: #00695c; color: #fff;">
                <tr>
                    <th>ID</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>E-posta</th>
                    <th>Şehir</th>
                    <th>Mesaj</th>
                    <th>Oluşturma Tarihi</th>
                    <th>İşlemler</th>
                </tr>
                </thead>
                <tbody>
                {% for contact_u in contactuses %}
                    <tr>
                        <td>{{ contact_u.id }}</td>
                        <td>{{ contact_u.firstname }}</td>
                        <td>{{ contact_u.lastname }}</td>
                        <td>{{ contact_u.email }}</td>
                        <td>{{ contact_u.city }}</td>
                        <td>{{ contact_u.message }}</td>
                        <td>{{ contact_u.createdat ? contact_u.createdat|date('d M Y H:i') : 'Belirtilmemiş' }}</td>
                        <td>
                            <a href="{{ path('app_contact_us_show', {'id': contact_u.id}) }}" class="btn btn-info btn-sm" title="Göster">
                                <i class="bi bi-eye"></i> <span class="d-inline d-sm-none">Göster</span>
                            </a>
                            {{ include('contact_us/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">Kayıt bulunamadı</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
