{% extends 'base.html.twig' %}

{% block title %}ContactUs{% endblock %}

{% block body %}
    <div class="container mt-5">

        <!-- ContactUs Details Table -->
        <div class="card">
            <div class="card-header text-white" style="background-color: #00695c">
                İletişim Bilgileri
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ contact_u.id }}</td>
                    </tr>
                    <tr>
                        <th>Ad</th>
                        <td>{{ contact_u.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Soyad</th>
                        <td>{{ contact_u.lastname }}</td>
                    </tr>
                    <tr>
                        <th>E-posta</th>
                        <td>{{ contact_u.email }}</td>
                    </tr>
                    <tr>
                        <th>Şehir</th>
                        <td>{{ contact_u.city }}</td>
                    </tr>
                    <tr>
                        <th>Oluşturulma Tarihi</th>
                        <td>{{ contact_u.createdat ? contact_u.createdat|date('Y-m-d H:i:s') : 'Belirtilmemiş' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-right">
                <a href="{{ path('app_contact_us_index') }}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Listeye Dön
                </a>
                {{ include('contact_us/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
