{% extends 'base.html.twig' %}

{% block title %}AboutUs index{% endblock %}

{% block body %}
    <h1>Hakkımızda</h1>

    <div class="container">
        <div class="row">
            {% for about_u in aboutuses %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ asset('uploads/' ~ about_u.logo) }}" class="card-img-top" alt="{{ about_u.mainTitle }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ about_u.mainTitle }}</h5>
                            <p class="card-text">{{ about_u.mainDescription }}</p>
                            <a href="{{ path('app_about_us_show', {'id': about_u.id}) }}" class="btn btn-primary">Göster</a>
                            <a href="{{ path('app_about_us_edit', {'id': about_u.id}) }}" class="btn btn-secondary">Düzenle</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Kayıt Bulunamadı</p>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_about_us_new') }}" class="btn btn-primary">Yeni Ekle</a>
{% endblock %}
